* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    margin-bottom: 300px;
}

header {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    /* height: 60px; */
    width: 100%;
    background-color: grey;
}

.first-row-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.logo-container {
    margin: 0 60px;
    background-color: yellow;
}

nav {
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: green;
    margin: 0 45px;
    gap:40px;
    width:65%;
}

.nav-lists {
    /* margin: 0 0 0 50px; */
    /* width: 60%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:30px;
    background-color: aqua;

}

.nav-list-items {
    list-style: none;

}

.n-l-links {
    color: black;
    text-decoration: none;
    font-size: 13px;
    font-family: Helvetica;
    font-weight: bold;
}

.ebid-btns-cont {
    background-color: burlywood;
    /* margin: 0 40px; */
    display: flex;
    justify-content: right;
    /* flex-grow: 1; */
    gap: 40px;

}

.on-ebid-btn {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: Helvetica;
    font-size: 13px;
    padding: 8px 18px;


}
.shop-on-ebid-btn {
    background-color: red;
    border-radius: 3px;
}

.sell-on-ebid-btn {
    background-color: blue;
    border-radius: 3px;


}
.second-row-header {
    display: flex;
    background-color: goldenrod;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
}

.second-row-header .right-section {
    background-color: aqua;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0 30px 0 0;

    /* margin: 0 60px 0 0; */
}
.second-row-header .left-section {
    background-color: blueviolet;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    gap: 10px;
    margin: 0 0 0 30px;
}
.login-container {
    padding: 15px 35px;
    background-color: blue;

}
.login-url {
    text-decoration: none;
    color: #666;
}
.search-container {
    display: flex;
    gap: 5px;
    height: 100%;
}
.search-bar {
    outline: none;
    border: none;
    border-radius: 5px;
    width: 440px;
    padding: 5px 10px;
    
}
.go-btn {
    padding: 8px 15px;
    border: none;
    border-radius: 3px;
    background-color: crimson;
    font-weight: bold;
    color: white;
}

.para-link-container a {
    font-family: "Helvetica Neue", Rubik, Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: black;
    text-decoration: none;
    word-spacing: 1px;
}
.para-link-container a:hover {
    color: #1265a8;
}       