* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}

body {
    height: 100%;
    font-family: "Helvetica Neue", Rubik, Helvetica, Arial, sans-serif;

    
}

header {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    /* height: 60px; */
    width: 100%;
    /* background-color: grey; */
}

.first-row-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.logo-container {
    margin: 0 60px;
}

nav {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 0 45px;
    gap:40px;
    width:65%;
}

.nav-lists {
    /* margin: 0 0 0 50px; */
    /* width: 60%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:30px;

}

.nav-list-items {
    list-style: none;

}

.n-l-links {
    color: black;
    text-decoration: none;
    font-size: 13px;
    font-family: Helvetica;
    font-weight: bold;
}

.ebid-btns-cont {
    display: flex;
    justify-content: right;
    gap: 40px;

}

.on-ebid-btn {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: Helvetica;
    font-size: 13px;
    padding: 9px 20px;


}
.shop-on-ebid-btn {
    background-color: #cc2200;
    border-radius: 3px;
}

.sell-on-ebid-btn {
    background-color: #1265a8;
    border-radius: 3px;


}
.second-row-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
}

.second-row-header .right-section {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0 30px 0 0;

    /* margin: 0 60px 0 0; */
}
.second-row-header .left-section {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    gap: 10px;
    margin: 0 0 0 30px;
}
.login-container {
    padding: 15px 35px;

}
.login-container:hover {
    background-color: #EEE;
}
.login-url {
    font-size: 13px;
    text-decoration: none;
    font-weight: 400;
    color: #666;
}
.search-container {
    display: flex;
    gap: 5px;
    height: 100%;
}
.search-bar {
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 440px;
    padding: 5px 10px;
    
}
.go-btn {
    padding: 8px 15px;
    border: none;
    border-radius: 3px;
    background-color: crimson;
    font-weight: bold;
    color: white;
}

.para-link-container a {
    font-family: "Helvetica Neue", Rubik, Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: black;
    text-decoration: none;
    word-spacing: 2px;
}
.para-link-container a:hover {
    color: #1265a8;
}

main {
    display: flex;
    width: 100%;
    background-color: #f4f4f4;
    gap: 16px;
    
}

.over-layout {
    position: relative;
    width: 100%;
    height: 30%;

}

.ads-container {
    height: 100%;
    background-color: burlywood;

}

.category-container {
    position: absolute;
    top: 0;
    left: 30px;
    background-color: #ececec;
    width: 261px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 3px rgba(0,0,0,.175);
    /* padding: 15px 0 0 20px; */
}
.category-wrapper {
    margin: 18px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.category-intro-para {
    color: #444;
    font-size: 12px;
    font-weight: 600;
}


.browse-num {
    color:#1265a8;
    cursor: pointer;
}

.category-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.category-item {
    color: black;
    font-size: 12px;
    text-decoration: none;
}

.category-item:hover {
    color: #1265a8;
}

.empty-aside {
    background-color: #f4f4f4;
    width: 19.2%;
}
.all-listings-container {
    background-color: #f4f4f4;
    width: 63%;
    margin-left: 10px;
}

.right-aside {
    width:18.5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.three-cats-cont {
    display: flex;
    flex-direction: column;
}

.cat-desc {
    display: flex;
    gap:125px;
    margin-left: 75px;
    text-align: center;
    font-family: Rubik, sans-serif;
    font-size: 13px;
    padding: 20px 0;

}
.cat-one-cont {
    padding: 20px 20px 0 20px;
    display: flex;
    flex-grow: 1;
    /* background-color: goldenrod; */
    gap: 30px;

}

.cat-one-cont div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family:Rubik, sans-serif;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #222222;
}
.cat-one-cont div img {
    border-radius: 50%;
    display: flex;
}



.cat-two-cont {
    flex-grow: 1;
    background-color: aliceblue;
    
}
.cat-three-cont {
    flex-grow: 1;
    background-color: #1265a8;
    
}

.first-cat-desc {
    text-align: center;
}

.listings-cont {
    /* height: 200px; */
    margin-top: 40px;
    background-color: #ffffff;
    padding: 15px 30px 60px 15px;
    border: 1px solid lightgray; 
    border-radius: 3px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);;
}

.listings-cont  p {
    font-weight: bold;
    color:#444444

}

.listing-slider-cont {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    /* background-color: blue; */
    font-family: "Helvetica Neue", Rubik, Helvetica, Arial, sans-serif;
}

.listing-slider-cont  div {
    /* background-color: green; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 7px;

}

.listing-slider-cont > div {
    border: 1px solid lightgrey;

}

.listing-slider-cont div .img-cont {
    /* height: 150px;
    width: 125px; */

}
.listing-slider-cont div p {
    
    font-size: 13px;
    font-weight: 400;
}

.listing-slider-cont div .price-desc {
    display: flex;
    justify-content: right;
    padding: 0;
    margin-top: 20px;
    
}

.listing-slider-cont div .price-desc p {
    font-weight: 600;
    font-size: 18px;
    text-align: right;
}

.right-aside .first-row {
    margin-top: 20px;
    font-family: Rubik, sans-serif;
    font-size: 13px;
}

.right-aside .first-row .count-num  {
    margin-left: 60px;
    font-weight: 600;
}

.right-aside .second-row {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.right-aside .second-row button {
    padding: 10px 20px;
    color: white;
    font-weight: 600;
    font-family: "Helvetica Neue", Rubik, Helvetica, Arial, sans-serif;
    font-size: 13px;
    border:none;
    border-radius: 3px;
    width: fit-content;

}

.right-aside .second-row .red-btn {
    background-color: #cc0416;
}
.right-aside .second-row .blue-btn {
    background-color: #0084c1;
    margin-left: 10px;
}

.right-aside .third-row {
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 15px 15px;
    width: 75%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items:center;
}

.right-aside .third-row .a {
    display: flex;
    justify-content: right;
    padding: 0 25px 0 0;
}

.right-aside .third-row .a .zero-fee-cont {
    width: 70%;
}

.right-aside .third-row .a .zero-fee-cont .zero-fee {
    text-align: right;
    font-size: 24px;
    font-family: "Helvetica Neue", Rubik, Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #cc2200;
}

.right-aside .third-row .b {
    text-align: center;
    font-family: "Helvetica Neue", Rubik, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    padding: 0 20px 0 0;
}

.right-aside .third-row .b .pr {
    color: #cc2200;
}

.right-aside .third-row .c {
    font-size: 12px;
    line-height: 22px;

}

.right-aside .third-row .d {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* width: 100%; */
    text-align: center;
    align-items: center;
     
}

.right-aside .third-row .d button {
    
    width: fit-content;
    background-color: #cc2200;
    padding: 7px 15px;
    border:none;
    border-radius: 3px;
    color: white;
    font-size: 11px;
    font-weight: 600;
}
.right-aside .third-row .d p {
    
    font-size: 11px;
}

footer {
    line-height: 27px;
    width: 100%;
    height: 550px;
    background: linear-gradient(135deg,#373c4e 13%,#373c4e 50%,#357890 87%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .first-row {
    display: flex;
    justify-content: space-around;
    padding: 60px 30px 0px 30px;
    flex-grow: 5;

}
footer .first-row .first-cell {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
}
footer .first-row .first-cell h4{
    color: white;
    width: 250px;
    text-align: center;
    font-size: 18px;
}

footer .first-row .second-cell {
    width: 80%;
    display: flex;
    color: white;

}
footer .second-row {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    opacity: 0.2;
    background-color: black;
    padding: 20px 0;
    color: rgba(255, 255, 255, 0.84);


}

footer .second-cell .a {
    padding: 40px 0 20px 20px;
    width: 25%;

}
footer .second-cell .a p {
    border-top: 1px solid #367087;
    border-bottom: 1px solid #367087;
    padding: 5px 0;    
}
footer .second-cell .a ul {
    list-style: none;
    font-size: 14px;
    color: #aaaaaa;
}

footer .second-cell .b {
    padding: 40px 0 20px 20px;
    width: 25%;
}
footer .second-cell .b p {
    border-top: 1px solid #367087;;
    border-bottom: 1px solid #367087;;
    padding: 5px 0; 
    font-weight: 600;
    font-size: 14px;
    color: #eeeeee;
}

footer .second-cell .b .sm-txt {
    border:none;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    border: none;
    color: #aaaaaa;



}
footer .second-cell blockquote {
    font-family: serif;
    font-size: 14px;
    color: #aaaaaa;

}
footer .second-cell h4 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    line-height: 20px;
}

footer .second-cell .c {
    padding: 40px 0 20px 20px;
    display: flex;
}

footer .second-cell .c .item-1 {
    display: flex;
    flex-direction: column;
}

footer .second-cell .c .item-1 .big-txt {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 3px;

}
footer .second-cell .c .item-1 .gross-txt {
    font-size: 13px;
}
footer .second-cell .c .item-2 {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}
footer .second-cell .c .item-2 .big-txt {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 3px;
}

footer .second-cell .c .item-2 .item-sell {
    font-size: 13px;
}

footer .second-row .left {
    display: flex;
    flex-direction: column;

}

footer .second-row .first-cont {
    font-size: 14px;
    margin-left: 60px;
}

footer .second-row .second-cont {
    display: flex;
    gap: 5px;
    margin-left: 50px;

}
footer .second-row .second-cont a {
    text-decoration-style: dotted;
    color: rgba(255, 255, 255, 0.84);
    font-size: 14px;

    

}

footer .second-row .second-cont a:hover {
    color: white;
}

main .register-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}
main .register-cont .r-first-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 27px 30px;

}

main .register-cont .r-first-row .left h3 {
    font-family: Rubik, sans-serif;
    font-size: 18px;
    line-height: 18px;
}
main .register-cont .r-first-row .left p {
    font-family: "Helvetica Neue", Rubik, Helvetica, Arial, sans-serif;;
    font-size: 13px;
    line-height: 20px;
}

main .register-cont .r-first-row .right p{
    color: black;
    font-size: 13px;
    
}
main .register-cont .r-first-row .right a{
    color: black;
    
}

main .register-cont .r-second-row {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
}
main .register-cont .r-second-row .help-link-cont {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-top: 2px solid #cc2200;
    border-radius: 10px;
    padding: 0 15px 50px 15px;
    gap: 20px;
    height: fit-content;
}
main .register-cont .r-second-row .help-link-cont .title{
    font-size: 13px;
    font-weight: 600;
    margin-top: 10px;

    text-align: center;
}
main .register-cont .r-second-row .help-link-cont .main-help-index {
    color: black;
    font-size: 14px;
    font-weight: 600;
}
main .register-cont .r-second-row .help-link-cont div {
    display: flex;
    flex-direction: column;
}
main .register-cont .r-second-row .help-link-cont h5 {
    font-size: 14px;
    line-height: 21px;
}
main .register-cont .r-second-row .help-link-cont a {
    color: black;
    font-size: 12px;
    line-height: 18px;
}
main .register-cont .r-second-row .registration-form-cont {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 700px;
    height: fit-content;
    border: 1px solid #dadada;
    border-radius: 5px;
    padding: 50px 50px 150px 50px;
    margin-bottom: 40px;
    

}
main .register-cont .r-second-row .registration-form-cont .first-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
main .register-cont .r-second-row .registration-form-cont .first-row i{
    margin-right: 15px;
}

main .register-cont .r-second-row .registration-form-cont .first-row h3 {
    font-family: Rubik, sans-serif;
    font-size: 24px;
    color: #cc2200;
    font-weight: 600px;
}
main .register-cont .r-second-row .registration-form-cont .second-row {
    margin-bottom: 50px;

}

main .register-cont .r-second-row .registration-form-cont .second-row .item-cont {
    display: flex;
    align-items: center;
    border-top: 1px solid #dadada;
    padding: 10px 10px;
    gap: 30px;
}

main .register-cont .r-second-row .registration-form-cont .second-row .item-cont label {
    font-family: Rubik, sans-serif;
    font-size: 14px;
    font-weight: 600;
    width: 225px;
    line-height: 20px;
    color:#444444;

}
main .register-cont .r-second-row .registration-form-cont .second-row .item-cont input {
    flex-grow: 1;
    border:1px solid #DDD;
    border-radius:7px;
    height: 38px;
    max-width: 355px;
    outline: none;
    padding: 0 10px;
}
main .register-cont .r-second-row .registration-form-cont .second-row .item-cont select {
    flex-grow: 1;
    border:1px solid #DDD;
    border-radius:7px;
    height: 38px;
    max-width: 375px;
    outline: none;
    padding: 0 10px;
}

main .register-cont .r-second-row .registration-form-cont .second-row .item-cont i {
    font-size: 13px;
}
main .register-cont .r-second-row .registration-form-cont .second-row .item-cont .country-field-cont {
    display: flex;
    flex-direction: column;  
}
main .register-cont .r-second-row .registration-form-cont .second-row .item-cont .country-field-cont p {
    font-size: 13px;
}
main .register-cont .r-second-row .registration-form-cont .second-row .item-cont .country-field-cont a {
    font-size: 12px;
    color: #444;
}
/* main .register-cont .r-second-row .registration-form-cont .second-row .item-cont div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 225px;
} */
main .register-cont .r-second-row .registration-form-cont .second-row .item-cont .x p {
    font-size: 12px;
    line-height: 17px;
}
main .register-cont .r-second-row .registration-form-cont .second-row .item-cont .y {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
main .register-cont .r-second-row .registration-form-cont .second-row .item-cont .y textarea {
    flex-grow: 1;
    outline: none;
    border-radius: 7px;
    max-width: 375px;
    border: 1px solid #DDD;
    cursor: not-allowed;
    background-color: #eee;
    font-family: "Helvetica Neue", Rubik, Helvetica, Arial, sans-serif;
}
main .register-cont .r-second-row .registration-form-cont .second-row .item-cont .y div {
    display: flex;
    gap: 15px;
    align-items: center;
    width: 375px;
}

main .register-cont .r-second-row .registration-form-cont .second-row .item-cont .y div label {
    display: flex;
    font-size: 12px;
    flex-grow: 1;
    font-weight: 500;
}



main .register-cont .r-second-row .registration-form-cont .second-row .item-cont div div input[type="checkbox"] {
    height: 20px;
    flex-grow: 0;
}

main .register-cont .r-second-row .registration-form-cont .third-row {
    display: flex;
    width: 100%;
}


main .register-cont .r-second-row .registration-form-cont .third-row h3 {
    font-size: 24px;
    color: #447d14;
    width: 50%;
}
main .register-cont .r-second-row .registration-form-cont .third-row div {
    flex-grow: 1;
    width: 50%;
    display: flex;
    justify-content: center;
}

main .register-cont .r-second-row .registration-form-cont .third-row div button {
    height: fit-content;
    width: fit-content;
    padding: 15px 25px;
    font-size: 16px;
    font-weight: 600;
    border:none;
    border-radius: 5px;
    color: white;
    background-color: #59ba41;
    cursor: pointer;
}

main .register-cont .r-second-row .registration-form-cont .third-row div button:hover {
    opacity: 0.8;
}